
body{
    font-family: 'Microsoft YaHei', sans-serif;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.table {
    text-align: center;
}
.table thead tr th{
    text-align: center;
}
.editpic{margin-left: 54px;margin-top: 10px;}
/*�����*/
.progress {
    margin-bottom: 15px;
}
/*ͷ��*/
.wh64{
    width: 64px;
    height: 64px;
    border-radius:50% ;
}
/*�߾�*/
.mar_t15{
    margin-top: 15px;
}
/*padding*/
.pad0{
    padding: 0;
}
/*page-header*/
.page-header{
    margin-top: 0;
}
.page-header h1{
    margin: 0;
    font-size: 16px;
}
/*uesr_search*/
.uesr_search{
    padding: 10px;
    border: solid 1px #ddd;
    border-top: none;
}
/*tag*/
.taglist{
    padding-top: 15px;
}
.taglist .alert{
    margin: 0 15px 15px 0;
}
/*footer*/
footer{
    font-weight: 400;
    text-align: center;
    padding:20px ;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}
ul{
    list-style-type: none;
}
.input-form li{
    margin: 5px 0px;
}
.navbar-header{
   
    text-align: center;
}
.navbar-inverse .navbar-nav>li>a{
    color:#f9f9f9;
}
.navbar-inverse{
    background:#46473F;
}
input[type=file]{
 display: inline !important;

}

#failTip{display: none;}
#successTip{display: none;}

.msg_text{width: 100%;}
.msg_text ol{padding-left: 0;}
.msg_text ol li{border-bottom:1px solid #dedbdb;list-style: none;padding: 5px;overflow: hidden;position: relative;}
.msg_text ol li h4{font-size: 16px;margin: 8px 0;}
.msg_text ol li p{color: #999;margin-bottom: 8px;float: left;width: 99%; height: auto;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}
.msg_text ol li i{display: block;font-style: normal;font-size: 12px;color: #999;}

}
#text1{height: 70px;}
.glyphicon-trash{position: absolute;padding-top: 10px;right: 10px;z-index: 999;}
