body {
    
}

.detail_box {
    width: 100%;
    height: 100%;
    position: relative;
    top: -48px;
}

.detail_box .banner_box {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
    border-bottom: 3px solid #eee;
}

.banner_box .banner_child_box {
    width: 100%;
    height: 375px;
    position: relative;
    left: 0;
    top: 47px;
    margin-bottom: 50px;
}

.banner_box .banner_item {
    visibility: visible;
    float: left;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: #fff;
    background-size: 100% 100%;
    transition: all 0ms ease;
    height: auto;
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    z-index: 10;
}

.banner_box .banner_item .banner_pic {
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow: hidden
}

.banner_box .banner_count {
    font-size: 16px;
    z-index: 11;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
    right: 14px;
    bottom: 14px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
}

.banner_count em {
    font-style: normal;
    color: #fff;
}
.banner_item img{width: 100%;display: block;margin: auto;padding-top: 30px;}
.banner_count .fz18 {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    margin-right: -3px;
}

.banner_count .fz12 {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    margin-left: -3px;
}

.banner_count .nub-bg {
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.product_info {
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 3px solid #eee;
}

.product_info .product_left {
    width: 100%;
    float: left;
    height: 100%;
    
    position: relative;
}

.product_left .p_name {
    width: 96%;
    color: #48484B;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding-left: 8px;
    padding-top: 5px;
}

.product_left .product_pric {
    margin-top: 10px;
    position: absolute;
    left: 6px;
    bottom: 8px;
}

.product_pric span {
    color: #F23434;
}

.product_pric span:nth-child(1) {
    font-size: 16px;
}

.product_pric span:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin: 0 -3px;
}

.product_info .product_right {
   float: right;
    border: 1px solid #ff463c;
    border-radius: 4px;
    text-align: center;
    line-height: 14px;
    padding: 2px 6px;
    position: absolute;
    right: 10px;
    bottom: 6px;
    font-size: 12px;
}

.product_intro {
    width: 100%;
    margin-top: 3px;
    height: auto;
    background-color: #fff;
    padding-bottom: 22px;
    
}

.product_intro .pro_det {
    font-size: 15px;
    font-weight: 500;
    color: #48484B;
    line-height: 22px;
    padding: 5px;
}

.cart_d_footer {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}

.cart_d_footer .m {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.m .m_box {
    width: 50%;
}

.m .m_item {
    display: inline-flex;
    height: 100%;
   
    text-align: center;
    width: 100%;
}

.m_item .m_item_link {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.m_item_link .m_item_pic {
    display: block;
    width: 21px;
    height: 23px;
    background: url("../img/cart_sprits_all.png") no-repeat top center;
    background-size: 100px 100px;
    margin: 6px auto 0;
}

.m_item_link .m_item_pic {
    background-position: -26px 0;
}

.m_item_link .two {
    background-position: -52px 0;
}

.m_item_link .three {
    background-position: 0 -20px;
}

.m .btn_box {
    width: 50%;
    height: 100%;
    float: right;
}

.btn_box a {
    display: inline-block;
    width: 50%;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
}

.btn_box .buy_now {
    float: left;
    background-color: #FFB03F;
    font-size: 15px;
}

.btn_box .buybuy {
    float: right;
    background-color: #F23030;
     font-size: 15px;
}
.m_item_name{font-size: 15px;}


/* 购物车 */
.shopping_cart{position:fixed;bottom:0;left:0;height:2.55rem;width:100%;border-top: 1px solid rgba(229,229,229,0.93);background-color:rgb(255,255,255);z-index:2;}
.shopping_cart .btn_fav_cart{width: 38%;height:2.25rem;text-align: center;font-weight: normal;font-size: .6rem;color: #4d525d;}
.shopping_cart .fav{width:50%;height:100%;float: left;}
.shopping_cart .fav a.hidden{display: block;width: 100%;height: .8rem;margin-top: 0.3rem;padding-top: 1.2rem;line-height: .8rem;background-position: center .125rem;background-repeat: no-repeat;background-size: 1rem 1rem;background-image:url(../img/fav.png);}
.shopping_cart .fav a.show{display: block;width: 100%;height: .8rem;margin-top: 0.3rem;padding-top: 1.2rem;line-height: .8rem;background-position: center .125rem;background-repeat: no-repeat;background-size: 1rem 1rem;background-image:url(../img/fav_on.png);}
.shopping_cart .fav.on a{background-image:url(../img/fav_on.png);}
.shopping_cart .cart, .shopping_cart .shop_tab{width:50%;min-width:2.75rem;height:2.55rem;float: left;}
.shopping_cart .cart span, .shopping_cart .shop_tab span{display:block;position:relative;width:1rem;height:1rem;margin: 0 auto;margin-top: 0.4rem;margin-bottom: 0.1rem;text-indent:-99rem;background:url(../img/icon_shoppingcart.png) center center no-repeat;background-size:1rem 1rem;}
.shopping_cart .cart span i, .shopping_cart .shop_tab span i{display:none;position:absolute;top:-0.3rem;left:.65rem;min-width:.8rem;height:.8rem;-webkit-box-sizing:border-box;box-sizing:border-box;border:.05rem solid white !important;border-radius:.4rem;background-color:#fe435d;color:white;font-size:.55rem;line-height:.7rem;text-indent:0;text-align:center;padding:0 .125rem;}
.shopping_cart .cart .cart_name, .shopping_cart .shop_tab .shop_name{height: 0.8rem;line-height: 0.8rem;}
/*.shopping_cart .shop_tab span{background-image:url(../img/icon_shop.png);}*/
/*.shopping_cart .btn_con{margin:.3rem 2.75rem .3rem .5rem;height:2.15rem;}
.shopping_cart .btn_con button{display:block;height:100%;float:left;border-radius:.15rem;font-size:.8rem;color:white;font-weight:bold;}
.shopping_cart .btn_con .add{width:55%;margin-right:5%;background-color:#fe435d;}
.shopping_cart .btn_con .buy{width:40%;background-color:#89a0b6;}
.shopping_cart .btn_con .buy.big{width:100%;}
.shopping_cart .btn_con p{font-size:.7rem;color:#fe435d;font-weight:bold;line-height:2.15rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}*/
.shopping_cart .btn_fav_cart{width:36%;height:100%;float:left;}
.shopping_cart .btn_con{width:64%;height:100%;float:left;}
.shopping_cart .btn_con button{display:block;float:left;height:100%;line-height: 2.55rem;font-size: 0.75rem;text-align: center;color:white;}
.shopping_cart .btn_con .baby_book_buy{display:block;float:left;height:100%;line-height: 2.55rem;font-size: 0.75rem;text-align: center;color:white;}
.shopping_cart .btn_con .buy{width:50%;height:100%;background-color: rgb(255,190,35);}
.shopping_cart .btn_con .big{width:100%;background-color: rgb(243,85,75);}
.shopping_cart .btn_con .notsupport{width:100%;background-color: rgba(150,150,150,0.93);}
.shopping_cart .btn_con .add{width:50%;height:100%;background-color: rgb(243,85,75);}
.shopping_cart .btn_con .pod_remind{background-color: rgb(255,141,112);}
.shopping_cart .btn_con .pod_a{display: block;overflow: hidden;}
.shopping_cart .btn_con .pod_add{display: block;float:left;overflow: hidden;width:100%;height:100%;background: rgb(255,84,97);}
